@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;800&display=swap');

// Colours
$dark-blue: #172339;
$medium-blue: #49566d;
$white: #ffffff;
$near-white: #faf8f6;
$off-white: #f3ede7;
$purple: #a060ff;
$pink: #cb30e3;
$orange: #ffa84e;

// Fonts
$font-stack:'Epilogue', sans-serif;

// Text sizing
$heading-xl: 5rem;
$heading-l: 3rem;
$heading-m: 1.1rem;
$heading-s: 1rem;
$quote: 1.3rem;
$footer: 0.9rem;

* {
    font: $font-stack;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    padding:1rem;
}

@mixin button {
    background: $dark-blue;
    color: $near-white;
    border-radius: 6px;
    padding:0.9rem 2rem;
    font-weight: 700;
    font-size:$heading-m;
    border:1px solid $dark-blue;
    &:hover {
        cursor:pointer;
    }
}

button {
    @include button;
}

.primary-button {
    &:hover {
        background: linear-gradient(135deg, $purple 0%, $pink 49.21%, $orange 100%);
        border:1px solid $white;
    }
}

.secondary-button {
    background:none;
    color:$dark-blue;
    &:hover {
        background:$dark-blue;
        color: $near-white;
    }
}